.heroSection {
    text-align: center;
    padding: 5rem 1rem;
    background-color: #000;
    color: #fff;
  }
  
  .title {
    font-size: 3rem;
    font-weight: 700;
  }
  
  .highlight {
    color: #007bff;
  }
  
  .description {
    margin: 1rem 0;
    font-size: 1.25rem;
  }

  .image{
    width: 900px;
  }
  
  .ctaButton {
    padding: 0.75rem 2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 40px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
  }

  .ctaButton:hover{
    background-color: #3b3c3d ; /* Altera a cor de fundo ao passar o mouse */
    color: white; /* Altera a cor do texto ao passar o mouse */
  }